{% extends "components/organisms/crud_list_card.html" %}

{% block page_title %}Turmas{% endblock %}
{% block header_title %}Turmas{% endblock %}
{% block header_action %}
  {% url 'turmas:turmas_create' as create_url %}
  {% include "components/atoms/button_link.html" with url=create_url label='Nova turma' variant='primary' %}
{% endblock %}

{% block table_head %}
<tr>
  <th>Nome</th>
  <th>Curso</th>
  <th>Ano letivo</th>
  <th>Professor</th>
  <th class="table-actions">Acoes</th>
</tr>
{% endblock %}

{% block table_body %}
{% for turma in turmas %}
<tr>
  <td>{{ turma.nome }}</td>
  <td>{{ turma.curso.nome }}</td>
  <td>{{ turma.ano_letivo }}</td>
  <td>{{ turma.professor_responsavel.username|default:"-" }}</td>
  <td class="table-actions">
    <a href="{% url 'turmas:turmas_update' turma.pk %}">Editar</a>
    |
    <a href="{% url 'turmas:turmas_delete' turma.pk %}">Excluir</a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="5">Nenhuma turma cadastrada.</td>
</tr>
{% endfor %}
{% endblock %}
