{% extends "components/organisms/crud_confirm_delete_card.html" %}
{% block confirm_page_title %}Excluir Ata{% endblock %}
{% block confirm_title %}Excluir Ata de Resultado{% endblock %}
{% block confirm_text %}Tem certeza que deseja excluir a ata <strong>{{ ata.numero_ata }}</strong>?{% endblock %}
{% block confirm_actions %}
  {% url 'matriculas:ata_list' as cancel_url %}
  {% include "components/molecules/confirm_actions.html" with cancel_url=cancel_url confirm_label='Confirmar' cancel_label='Cancelar' %}
{% endblock %}
