{% extends "components/organisms/crud_form_card.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<section class="card">
  {% include "components/atoms/section_title.html" with text=page_title %}

  <form method="post" novalidate>
    {% csrf_token %}
    {% include "components/molecules/form_fields.html" with form=form %}
    {% block form_actions %}
      {% url 'matriculas:matriculas_list' as cancel_url %}
      {% include "components/molecules/form_actions.html" with cancel_url=cancel_url submit_label='Salvar' cancel_label='Cancelar' %}
    {% endblock %}
  </form>
</section>
{% endblock %}
