{% extends "components/organisms/crud_list_card.html" %}

{% block page_title %}Matriculas{% endblock %}
{% block header_title %}Matriculas{% endblock %}
{% block header_action %}
  {% url 'matriculas:matriculas_create' as create_url %}
  {% include "components/atoms/button_link.html" with url=create_url label='Nova matricula' variant='primary' %}
{% endblock %}

{% block table_head %}
<tr>
  <th>Aluno</th>
  <th>Curso</th>
  <th>Turma</th>
  <th>Status</th>
  <th>Data</th>
  <th class="table-actions">Acoes</th>
</tr>
{% endblock %}

{% block table_body %}
{% for matricula in matriculas %}
<tr>
  <td>{{ matricula.aluno.username }}</td>
  <td>{{ matricula.curso.nome }}</td>
  <td>{{ matricula.turma.nome }}</td>
  <td>{{ matricula.get_status_display }}</td>
  <td>{{ matricula.data_matricula|date:'d/m/Y' }}</td>
  <td class="table-actions">
    <a href="{% url 'matriculas:matriculas_update' matricula.pk %}">Editar</a>
    |
    <a href="{% url 'matriculas:matriculas_delete' matricula.pk %}">Excluir</a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="6">Nenhuma matricula cadastrada.</td>
</tr>
{% endfor %}
{% endblock %}
