{% extends "components/organisms/crud_confirm_delete_card.html" %}
{% block confirm_page_title %}Excluir Estágio{% endblock %}
{% block confirm_title %}Excluir Estágio{% endblock %}
{% block confirm_text %}Tem certeza que deseja excluir o estágio de <strong>{{ estagio.matricula.aluno }}</strong> em {{ estagio.empresa }}?{% endblock %}
{% block confirm_actions %}
  {% url 'estagio:estagios_list' as cancel_url %}
  {% include "components/molecules/confirm_actions.html" with cancel_url=cancel_url confirm_label='Confirmar' cancel_label='Cancelar' %}
{% endblock %}
