{% extends "components/organisms/crud_confirm_delete_card.html" %}
{% block confirm_page_title %}Excluir Termo{% endblock %}
{% block confirm_title %}Excluir Termo de Compromisso{% endblock %}
{% block confirm_text %}Tem certeza que deseja excluir o termo <strong>{{ termo.numero_termo }}</strong>?{% endblock %}
{% block confirm_actions %}
  {% url 'estagio:termos_list' as cancel_url %}
  {% include "components/molecules/confirm_actions.html" with cancel_url=cancel_url confirm_label='Confirmar' cancel_label='Cancelar' %}
{% endblock %}
