{% extends "components/organisms/crud_confirm_delete_card.html" %}
{% block confirm_page_title %}Excluir Publicação{% endblock %}
{% block confirm_title %}Excluir Publicação de Inscrição{% endblock %}
{% block confirm_text %}Tem certeza que deseja excluir a publicação <strong>{{ pub.titulo }}</strong>?{% endblock %}
{% block confirm_actions %}
  {% url 'inscricoes:publicacoes_list' as cancel_url %}
  {% include "components/molecules/confirm_actions.html" with cancel_url=cancel_url confirm_label='Confirmar' cancel_label='Cancelar' %}
{% endblock %}
