VITE_APP_ENV=development
VITE_BACKEND_ORIGIN=http://127.0.0.1:8000
VITE_API_URL=http://127.0.0.1:8000/api/v1
VITE_HOST=127.0.0.1
VITE_PORT=5173
VITE_DEV_BASE_PATH=/
VITE_BUILD_BASE_PATH=/static/
VITE_DEBUG_LOGS=true