VITE_APP_ENV=homolog
VITE_BACKEND_ORIGIN=https://homolog-api.suap.idep.local
VITE_API_URL=https://homolog-api.suap.idep.local/api/v1
VITE_HOST=127.0.0.1
VITE_PORT=5174
VITE_DEV_BASE_PATH=/
VITE_BUILD_BASE_PATH=/static/
VITE_DEBUG_LOGS=true