VITE_APP_ENV=production
VITE_BACKEND_ORIGIN=https://api.suap.idep.local
VITE_API_URL=https://api.suap.idep.local/api/v1
VITE_HOST=0.0.0.0
VITE_PORT=4173
VITE_DEV_BASE_PATH=/
VITE_BUILD_BASE_PATH=/static/
VITE_DEBUG_LOGS=false