{% extends "components/organisms/crud_list_card.html" %}

{% block page_title %}Professores{% endblock %}
{% block header_title %}Professores{% endblock %}
{% block header_action %}
  {% url 'usuarios:professores_create' as create_url %}
  {% include "components/atoms/button_link.html" with url=create_url label='Novo professor' variant='primary' %}
{% endblock %}

{% block table_head %}
<tr>
  <th>Nome</th>
  <th>Usuario</th>
  <th>CPF</th>
  <th>Status</th>
  <th class="table-actions">Acoes</th>
</tr>
{% endblock %}

{% block table_body %}
{% for professor in professores %}
<tr>
  <td>{{ professor.first_name }} {{ professor.last_name }}</td>
  <td>{{ professor.username }}</td>
  <td>{{ professor.cpf }}</td>
  <td>{% if professor.is_active %}Ativo{% else %}Inativo{% endif %}</td>
  <td class="table-actions">
    <a href="{% url 'usuarios:professores_update' professor.pk %}">Editar</a>
    |
    <a href="{% url 'usuarios:professores_delete' professor.pk %}">Excluir</a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="5">Nenhum professor cadastrado.</td>
</tr>
{% endfor %}
{% endblock %}
