{% extends "components/organisms/crud_confirm_delete_card.html" %}

{% block confirm_page_title %}Excluir processo{% endblock %}
{% block confirm_title %}Excluir processo{% endblock %}
{% block confirm_text %}Tem certeza que deseja excluir o processo <strong>{{ processo.numero }} – {{ processo.assunto }}</strong>?{% endblock %}

{% block confirm_actions %}
  {% url 'processos:processos_list' as cancel_url %}
  {% include "components/molecules/confirm_actions.html" with cancel_url=cancel_url confirm_label='Confirmar exclusão' cancel_label='Cancelar' %}
{% endblock %}
