{% extends "components/organisms/crud_list_card.html" %}

{% block page_title %}Cursos{% endblock %}
{% block header_title %}Cursos{% endblock %}
{% block header_action %}
  {% url 'cursos:cursos_create' as create_url %}
  {% include "components/atoms/button_link.html" with url=create_url label='Novo curso' variant='primary' %}
{% endblock %}

{% block table_head %}
<tr>
  <th>Nome</th>
  <th>Unidade</th>
  <th>Carga horaria</th>
  <th class="table-actions">Acoes</th>
</tr>
{% endblock %}

{% block table_body %}
{% for curso in cursos %}
<tr>
  <td>{{ curso.nome }}</td>
  <td>{{ curso.unidade.nome }}</td>
  <td>{{ curso.carga_horaria }}</td>
  <td class="table-actions">
    <a href="{% url 'cursos:cursos_update' curso.pk %}">Editar</a>
    |
    <a href="{% url 'cursos:cursos_delete' curso.pk %}">Excluir</a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="4">Nenhum curso cadastrado.</td>
</tr>
{% endfor %}
{% endblock %}

