{% extends "components/organisms/crud_confirm_delete_card.html" %}

{% block confirm_page_title %}Excluir frequencia{% endblock %}
{% block confirm_title %}Excluir frequencia{% endblock %}
{% block confirm_text %}Tem certeza que deseja excluir o registro de <strong>{{ registro.data|date:"d/m/Y" }}</strong>?{% endblock %}

{% block confirm_actions %}
  {% url 'frequencia:frequencia_list' as cancel_url %}
  {% include "components/molecules/confirm_actions.html" with cancel_url=cancel_url confirm_label='Confirmar exclusao' cancel_label='Cancelar' %}
{% endblock %}

